.embla {
  overflow: hidden;
  max-width: 48rem;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 30%;
  min-width: 0;
  height: 200px;
  background-color: aquamarine;
  margin-right: 20px;
}
