.embla {
  overflow: hidden;
  max-width: 1088px;
  margin-inline: auto;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 80px;
  min-width: 0;
  height: 600px;
  margin-right: 8px;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.embla__slide:last-of-type {
  margin-right: 0px;
}

.embla__slide.is-active {
  flex: 1 0 500px;
}

.slide__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 75;
  backdrop-filter: grayscale(100%);
  transition:
    backdrop-filter 0.4s ease,
    background-color 0.4s ease;
}

.slide__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.slide__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide__content-wrapper {
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 100;
  color: white;
}

.embla__slide.is-active .slide__overlay {
  backdrop-filter: grayscale(0%);
  background-color: rgba(0, 0, 0, 0.5);
}

.slide__heading {
  font-size: 2rem;
  font-weight: 800;
  text-wrap: pretty;
}

.slide__desc {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 372px;
}

.slide__content-upper {
  display: flex;
  gap: 56px;
  justify-content: space-between;
}

.slide__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .embla__slide:not(.is-active) .slide__content-wrapper:not([data-slide]) {
  visibility: hidden;
} */
