.exp-carousel-wrapper {
  overflow: hidden;
  max-width: 1088px;
  margin-inline: auto;
}
.exp-carousel-cont {
  display: flex;
}
.exp-slide {
  flex: 0 0 80px;
  min-width: 0;
  height: 600px;
  margin-right: 8px;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.exp-slide:last-of-type {
  margin-right: 0px;
}

.exp-slide.is-active {
  flex: 1 0 500px;
}

.exp-slide-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 75;
  backdrop-filter: grayscale(100%);
  transition:
    backdrop-filter 0.4s ease,
    background-color 0.4s ease;
}

.exp-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.exp-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exp-slide-content {
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 100;
  color: white;
}

.exp-slide.is-active .exp-slide-overlay {
  backdrop-filter: grayscale(0%);
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.exp-heading {
  font-size: 2rem;
  font-weight: 800;
  text-wrap: pretty;
}

.exp-desc {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 372px;
}

.exp-slide-content-up {
  display: flex;
  gap: 56px;
  justify-content: space-between;
}

.exp-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .exp-slide:not(.is-active) .exp-slide-content:not([data-slide]) {
  visibility: hidden;
} */

.exp-slide:first-of-type .exp-button.is-prev {
  opacity: 0.5;
  pointer-events: none;
}

.exp-slide:last-of-type .exp-button.is-next {
  opacity: 0.5;
  pointer-events: none;
}

.exp-button {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .exp-slide {
    flex: 1 0 100% !important;
  }
  .exp-slide.is-active {
    flex: 1 0 100% !important;
  }
}
